@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');  
 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap'); 
 html,body {overflow-x:hidden;} 
 .main1{ 
     margin-top: 100px; 
    max-width: 1160px; 
    margin: auto; 
     display: flex; 
     flex-direction: column; 
     justify-content: center; 
     margin-bottom: 100px; 
 } 
 .k{ 
     display: flex; 
     flex-direction: row; 
 } 
 .k .ikonka1{ 
     width: 120px; 
 height: 120px; 
 margin-bottom: 30px; 
 } 
 .ik{ 
     display: flex; 
    flex-direction: column; 
 }  
 .ik .h1{ 
  font-family: 'Montserrat', sans-serif; 
 font-style: normal; 
 font-weight: 800; 
 font-size: 48px; 
 line-height: 59px; 
 } 
 .ik .h2{ 
     font-family: 'Montserrat', sans-serif; 
     font-style: normal; 
     font-weight: 800; 
     font-size: 48px; 
     line-height: 59px; 
     color: #3280B0; 
 } 
 .col .p1{ 
     border-left: 5px solid #016096; 
     padding: 5px;  
      font-family: 'Montserrat', sans-serif; 
     width: 600px; 
 font-style: normal; 
 font-weight: 800; 
 font-size: 30px; 
 line-height: 39px; 
 color: black;  
 } 
 .hello{ 
     width: 744px; 
 height: 108px; 
 font-family: Montserrat; 
 font-style: normal; 
 font-weight: 800; 
 font-size: 44px; 
 line-height: 68px; 
 text-align: center; 
 margin-left: auto; 
 margin-right: auto; 
 } 
 .education{color: #096396;} 
 .img1{   width: 500px;}   
 .add{ 
     width: 560px; 
     height: 45px; 
     padding-top: 30px; 
     font-family: Montserrat; 
     font-style: normal; 
     font-weight: 800; 
     font-size: 38px; 
     text-align: center; 
     color: #016096; 
     margin: 25px auto;  
 } 
 .add2{ 
     padding-top: 30px; 
     width: 560px; 
     height: 45px; 
     font-family: Montserrat; 
     font-style: normal; 
     font-weight: 800; 
     font-size: 38px; 
     text-align: center; 
     color: #000000; 
     margin:  auto;  
 } 
 .d{  
     margin-left: auto; 
     margin-right: auto; 
     height: 100px; 
     width: 900px; 
     border-radius: 100%  100% 0 0; 
 box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1); 
  
 } 
 .b{ 
     margin-left: auto; 
     margin-right: auto; 
     height:100px ; 
     width: 900px; 
     border-radius:0%  0% 100% 100%; 
 box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1); 
 } 
 .carousel-inner{ 
     border-radius: 20px; 
 } 
 .carousel-control-prev { 
     margin-left: -120px; 
   
 } 
 .carousel-control-next, .carousel-control-prev { 
     margin-right: -60px; 
     
 }  
 .carousel { 
     width: 1100px; 
 }  
 @media (max-width: 1500px){ 
     .k .ikonka1{ 
         width: 90px; 
     height: 90px; 
     }   
 .carousel { 
     width: 800px; 
 }  
 .d{  
     margin-left: auto; 
     margin-right: auto; 
     width: 700px; 
 } 
 .b{  
     margin-left: auto; 
     margin-right: auto; 
     width: 700px; 
 }      
 .carousel-control-prev { 
     margin-left: -100px; 
 } 
 } 
 @media (max-width: 1200px){ 
     .col .h1{ 
       font-size: 36px; 
       } 
       .hello{ 
         width: 504px; 
     font-weight: 800; 
     font-size: 34px; 
     line-height: 38px; 
     text-align: center; 
     } 
       .col .h2{  
           font-size: 38px; 
       } 
        .row-cols-2{ 
         display: flex; 
       flex-direction: column; 
   }  
   body {overflow-x:hidden;} 
       .col .p1{ 
    font-size: 28px; 
       }   
 .add{ 
     width: 350px; 
 font-weight: 800; 
 font-size: 22px; 
 } 
 .add2{ 
     width: 350px;    
 font-weight: 800; 
 font-size: 18px; 
 } 
       .img1{      width: 400px;  }     
 .carousel { 
     width: 700px; 
 }  
 .d{  
     height: 100px; 
     width: 600px; 
 } 
 .b{ 
     height:100px ; 
     width: 600px; 
 }  
 .carousel-control-prev { 
     margin-left: -80px; 
 } 
      } 
      
      @media (max-width: 1000px){ 
         .d{  
             margin-left: auto; 
             margin-right: auto; 
             width: 800px; 
         } 
         .row-cols-2{ 
             display: flex; 
           flex-direction: column; 
       } 
       .b{ 
        height:100px ; 
        width: 500px; 
    }  
    .carousel-control-prev { 
        margin-left: -60px; 
    } 
         } 
    @media (max-width: 900px){ 
        .main{ 
            margin-left: 0px; 
        } 
      .col .h1{font-size: 38px;    } 
        .col .h2{    font-size: 38px;} 
     
     
     
     
      .carousel { 
        width: 440px; 
    }  
    .d{  
        height: 100px; 
        width: 400px; 
    } 
    .b{ 
        height:100px ; 
        width: 400px; 
    }  
     
    } 
    @media (max-width: 800px){ 
        .col .h1{ 
        width: 300px; 
          font-size: 38px; 
          } 
          .col .h2{  
              font-size: 38px; 
              width: 300px; 
          }    
    .hello{ 
        width: 504px; 
    text-align: center; 
    font-size: 34px; 
    line-height: 48px; 
    } 
        } 
         @media (max-width: 700px){ 
              .col .p1{ 
                  width: 500px; 
                  font-size: 24px; 
              }           
    .add{ 
        width: 250px; 
    font-weight: 800; 
    font-size: 18px; 
    text-align: center; 
    } 
    .add2{ 
        width: 250px; 
    font-weight: 800; 
    font-size: 18px; 
    text-align: center; 
    } 
    .carousel { 
        width: 350px; 
    }  
    .d{  
        height: 60px; 
        width: 250px; 
    } 
    .b{ 
        height:60px ; 
        width: 250px; 
    }  
            } 
    @media (max-width: 500px){ 
        .col .h1{   font-size: 26px;   } 
          .col .h2{  
              font-size: 28px; 
              line-height: 39px; 
          } 
          .hello{ 
            padding-left: 0px; 
            width: 400px; 
        text-align: center; 
        font-size: 30px; 
        line-height: 44px; 
        } 
     .add{ 
            width: 150px; 
        font-weight: 800; 
        font-size: 14px; 
        text-align: center; 
        } 
        .add2{ 
            width: 180px; 
        font-weight: 800; 
        font-size: 14px; 
        text-align: center; 
        }  
        .carousel { 
            width: 240px; 
        }  
        .d{  
            height: 60px; 
            width: 180px; 
        } 
        .b{ 
            height:60px ; 
            width: 180px; 
        }  
         } 
         @media (max-width: 495px){    
                .col .p1{ 
             font-size: 18px; 
                line-height: 25px; 
                width: 300px;   
                } 
               .row-cols-2{      width: 10px;   } 
            .col .h1{      font-size: 26px;      }     
                .col .h2{  
                    font-size: 28px; 
                    line-height: 39px; 
                } 
                .img1 {         width: 250px;         } 
             }    
             @media (max-width: 400px)    { 
                .k .ikonka1{ 
                    width: 80px; 
                height: 80px; 
                } 
                .col .h1{ 
                  font-size: 18px; 
                  line-height: 39px; 
                  } 
                  .col .h2{  
                      font-size: 18px; 
                      line-height: 29px; 
                  } 
                  .col .p1{ 
               font-size: 16px; 
                  line-height: 20px; 
                  width: 400px; 
                  }  
                  .img1 {  width: 250px;     } 
                   .row-cols-2{   width: 10px; } 
                } 
                @media (min-width: 400px)  { .body{     overflow: hidden; }  } 
                @media (max-width: 340px){ 
                    .col .h1{   font-size: 18px;   } 
                      .col .h2{font-size: 18px;   } 
                      .hello{ 
                        padding-left: 0px; 
                        width: 300px; 
                    font-size: 26px; 
                    } 
                   .add{ 
                        width: 140px; 
                    font-weight: 600; 
                    font-size: 14px; 
                    text-align: center; 
                    padding-top: 10px; 
                    } 
                    .add2{ 
                        width: 160px; 
                    font-weight: 600; 
                    font-size: 14px; 
                    text-align: center; 
                    padding-top: 10px; 
                    }    
                    .carousel { 
                        width: 200px; 
                    }  
                    .d{  
                        height: 40px; 
                        width: 160px; 
                      } 
                      .b{ 
                        height:40px ; 
                        width: 160px; 
                    } } 
                     @media (max-width: 300px){ 
                        .carousel { 
                            width: 160px; 
                        }  
                       
                        .carousel-control-next, .carousel-control-prev{ 
                        margin: -40px; 
                        } 
                       }