@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap");
body {
  font-style: normal;
  font-family: "Montserrat", sans-serif !important;
}
.section-jasmine {
  background-color: #016096;
  width: 90%;
  margin: auto;
  height: 380px;
  border-radius: 2%;
}
.main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.visa {
  margin: 0;
  padding: 0;
  width: 300px;
  background: linear-gradient(146.72deg, #3078a5 -7.37%, #569bc6 83.66%);
  display: flex;
  flex-direction: column;
  border-radius: 4%;
  height: 155px;
  color: white;
  box-shadow: 1px 5px 5px 0px #00000041;
  border-bottom: 4px solid #016096;
  padding-left: 20px;
  font-family: Montserrat;
  font-size: 22px;
  font-style: normal;
  font-weight: 800;

  letter-spacing: 0em;
  text-align: left;
}
.prog {
  width: 300px;
  background: linear-gradient(146.72deg, #ffffff -7.37%, #ebebeb 83.66%);
  display: flex;
  border-radius: 3%;
  flex-direction: column;
  color: black;
  height: 270px;
  box-shadow: 1px 5px 5px 0px #00000041;
  border-bottom: 4px solid #cecece;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
margin-top: 60px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 19px;
}

.prog:nth-child(3) {
  justify-content: flex-end;
}
.age {
  box-shadow: 1px 10px 5px 0px #00000028;
  width: 300px;
  background: linear-gradient(146.72deg, #3078a5 -7.37%, #569bc6 83.66%);
  height: 183px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5%;
  box-shadow: 1px 5px 5px 0px #00000041;
  border-bottom: 4px solid #016096;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  color: white;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 20px;
  padding-top: 40px;
}
.age p {
    margin: -5px;
    padding-left: 10px;
    font-weight: 500;
}
.visa h1 {
  color: #fcc63d;
  font-size: 40px;
  margin-bottom: -20px;
  
  
}
.visa p {
    font-size: 22px;
    margin-bottom: 1px;
    
    
  }
.prog h1 {
  color: #fcc63d;
  font-size: 40px;
}
.age h1 {
  color: #fcc63d;
  font-size: 40px;
  margin: 0;
  margin-top: 55px;
  margin-bottom: 20px;
}
.image-1 {
  width: 90px;
  align-items: flex-end;
  margin-left: 200px;
  transform: translateY(95px);
}
.image-2 {
  width: 100px;
  justify-content: flex-end;
  transform: translateX(200px);
  margin-top: -160px;
  margin-bottom: 29px;
}
.image-3 {
  width: 169px;
  padding-left: 60px;
  padding-bottom: 70px;

  height: 130px;
}
.jasmin {
    position: absolute;
    ;
    z-index: 1;
    top: 900px;
  text-align: center;
  font-size: 40px;
  color: white;
}
span {
  margin: 5.9px;
}
@media (max-width: 750px) {
  section {
    background-color: #3280b0;
    height: auto;
    width: 100%;
    margin: 0 px;
  }
  .main {
    display: flex;
    flex-direction: column;
  }
  .visa {
    width: 328px;
    background-color: blueviolet;
    margin: 10px;
    height: 155px;
  }
  .prog {
    width: 328px;
    background-color: blueviolet;
    margin: 10px;
    height: 183px;
    font-size: 16px;
  }
  .prog h1 {
    margin: 0;
  }
  .age {
    width: 328px;
    background-color: blueviolet;
    margin: 10px;
    height: 183px;
    padding-left: 20px;
    color: white;
  }
  .visa h1,
  .prog h1,
  .age h1 {
    font-size: 40px;
    font-weight: 800;
  }
}
.prog span {
  display: block;
}
.visa,
.image-1 {
  display: flex;
  justify-content: flex-end;
} 




body {
  font-family: Montserrat !important;
  font-style: normal;
}
.text-1 {
  border-left: 3px solid #016096;
  margin: 10px;
  padding: 10px;
color: black;
  height: 155px;
  width: 400px;
  left: 811px;
  top: 892px;
  border-radius: nullpx;
  font-family: Montserrat;
  font-weight: 800;
  font-style: Style normal;
  font-size: 20px;
}
.text-1 p{
  color: black;
}

.section-company {
  display: flex;
  padding-left: 50px;
  padding-right: 50px;
}
.section-company-about {
  display: flex;
  flex-direction: row;
}
.company {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 64px;
  font-family: Montserrat;
  font-weight: 800;
}
tbody {
  width: 100%;
}
.text-1,
.text-2 {
  width: 548px;
}
.chikago {
  width: 625px;
}
.main-text {
  display: flex;
  flex-direction: column;
  margin: 10px;
  justify-content: flex-end;
  padding: 10px;
  
  display: flex;
}
.text-2 {
  font-family: Montserrat;
  padding-left: 20px;
  margin-left: 20px;
  margin-top: 10px;
  font-size: 25px;
  line-height: 32px;
  font-weight: 600;
  color: black;
}

.parent {
  position: relative;
  top: 0;
  left: 0;
}

.image3 {
  margin-left: 40px;
  right: 80px;
  padding-top: 60px;
  width: 625px;
}

.image2 {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 625px;
}
.image1 {
  
  width: 625px;
  padding-right: 10px;
}
.section-visa {
  margin-top: 168px;
  width: 100%;
  height: 168px;
  background-color: #3280b0;
}

#id {
  transform: skew(0, -10deg);
  background-color: #3280b0;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
}
.parent {
  display: flex;
  align-items: center;
  width: 100%;
  height: 400px;
  background-color: white;
}
.curve-block {
  width: 30px;
  height: 100px;
  background-color: beige;
  margin-left: 200px;
}
.progarm-visa-div,
h3 {
  color: #fcc63d;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 51px;
  letter-spacing: 0em;
  text-align: left;
}

.progarm,
h1 {
  font-weight: 800;
  text-align: center;
}
.card:nth-child(1) {
  background: linear-gradient(146.72deg, #3078a5 -7.37%, #569bc6 83.66%);
  }
.card:nth-child(3) {
  background: linear-gradient(146.72deg, #3078a5 -7.37%, #569bc6 83.66%);
  height: 183px;
}
.card-img-top {
  width: 79px;
  height: 88px;
  margin: -10px;
} 
.pornhub{
  background-color: #016096;
}
.progammer-div{
height: 267px;
position: relative;

}
.card-body-2 {
  position: absolute;
  bottom: 10px ;
}
.card-img-top-1 {
  width: 79px;
  height: 88px;
  position: absolute;
  left: 280px;
  top: 100px;
} 
.parag{
  width: 89%;
}
.text-2 p{
  color: black;
}s
.card-img-top-2{
  position: absolute;
  bottom: 100px;
  left: 250px;
}
  
@media (max-width: 750px){
.pornhub{
  display: flex;
  flex-direction: column;
}
.card-title {
  font-size: 18px;
  color: white  ;
}
.company{
  font-size:35px;
  color: white  ;
}
.main-text {
  display: flex;
  flex-direction: column;
  margin: 10px;
  justify-content: flex-end;
  padding: 10px;
  
  display: flex;
}
.image1 {
  margin-left: 40px;
  width: 265px;
  padding-right: 10px;
}
.text-2 {
  font-family: Montserrat;
  color: black;
  font-size: 18px;
  line-height: 32px;
  font-weight: 600;
  width: 344px;
  padding-left: 0px;
  margin-left: 0px;
  text-align: start;
}
.text-1 {
  font-family: Montserrat;
  
  font-size: 22px;
  line-height: 32px;
  font-weight: 600;
  width: 266px;
}
.section-company{
  display: flex;
  flex-direction: column;
  padding-left: 0px;
}
.parent{
  height: 0px;
}
.text-2 p{
  color: black;
}
}


@media (max-width: 950px){
  .pornhub{
    display: flex;
    flex-direction: column;
  }
  .card-title {
    font-size: 18px;
    color: white  ;
  }
  .company{
    font-size:35px;
    color: white  ;
  }
  .main-text {
    display: flex;
    flex-direction: column;
    margin: 10px;
    justify-content: flex-end;
    padding: 10px;
    
    display: flex;
  }
  .image1 {
    margin-left: 40px;
    width: 290px;
    padding-right: 10px;
    transform: translateY(995px);
  }
  .text-2 {
    font-family: Montserrat;
    color: black;
    font-size: 18px;
    line-height: 32px;
    font-weight: 600;
    width: 390px;
    padding-left: 0px;
    margin-left: 0px;
    text-align: start;
  }
  .text-1 {
    font-family: Montserrat;
    
    font-size: 22px;
    line-height: 32px;
    font-weight: 600;
    width: 290px;
  }
  .section-company{
    display: flex;
    flex-direction: column;
    padding-left: 0px;
  }
  .parent{
    height: 0px;
  }
  .text-2 p{
    color: black;
  }
  }
  































@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap");
body {
  font-style: normal;
  font-family: "Montserrat", sans-serif !important;
}
.section-company-jasmine {
  background-color: #016096;
  width: 90%;
  margin: auto;
  /* height: 380px; */
  border-radius: 2%;
  /* display: flex;
  flex-direction: row; */
}
.main2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.visa {
  margin: 0;
  padding: 0;
  width: 300px;
  background: linear-gradient(146.72deg, #3078a5 -7.37%, #569bc6 83.66%);
  display: flex;
  flex-direction: column;
  border-radius: 4%;
  height: 155px;
  color: white;
  box-shadow: 1px 5px 5px 0px #00000041;
  border-bottom: 4px solid #016096;
  padding-left: 20px;
  font-family: Montserrat;
  font-size: 22px;
  font-style: normal;
  font-weight: 800;

  letter-spacing: 0em;
  text-align: left;
}
.prog {
  width: 300px;
  background: linear-gradient(146.72deg, #ffffff -7.37%, #ebebeb 83.66%);
  display: flex;
  border-radius: 3%;
  flex-direction: column;
  color: black;
  height: 270px;
  box-shadow: 1px 5px 5px 0px #00000041;
  border-bottom: 4px solid #cecece;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
margin-top: 60px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 19px;
}

.prog:nth-child(3) {
  justify-content: flex-end;
}
.age {
  box-shadow: 1px 10px 5px 0px #00000028;
  width: 300px;
  background: linear-gradient(146.72deg, #3078a5 -7.37%, #569bc6 83.66%);
  height: 183px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5%;
  box-shadow: 1px 5px 5px 0px #00000041;
  border-bottom: 4px solid #016096;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  color: white;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 20px;
  padding-top: 40px;
}
.age p {
    margin: -5px;
    padding-left: 10px;
    font-weight: 500;
}
.visa h1 {
  color: #fcc63d;
  font-size: 40px;
  margin-bottom: -20px;
  transform: translateY(-100px);
  
  
}
.visa p {
    font-size: 22px;
    margin-bottom: 1px;
    transform: translateY(-80px);
    
  }
.prog h1 {
  color: #fcc63d;
  font-size: 40px;
}
.age h1 {
  color: #fcc63d;
  font-size: 40px;
  margin: 0;
  margin-top: 55px;
  margin-bottom: 20px;
}
.image-1 {
  width: 90px;
  align-items: flex-end;
  margin-left: 200px;
  transform: translateY(05px);
}
.image-2 {
  width: 100px;
  justify-content: flex-end;
  transform: translateX(200px);
  margin-top: -160px;
  margin-bottom: 29px;
}
.image-3 {
  width: 169px;
  padding-left: 60px;
  padding-bottom: 70px;

  height: 130px;
}

span {
  margin: 5.9px;
}


@media (max-width: 1200px) {
  .main2 {
    display: flex;
    flex-direction: column;
  }

  .visa h1 {
    
    transform: translateY(1px);
    
  }

  .visa p {
    
    transform: translateY(1px);
    
  }





@media (max-width: 750px) {
  .section-company-jasmine {
    background-color: #3280b0;
    height: auto;
    width: 100%;
    margin: 0 px;
  }
  .main2 {
    display: flex;
    flex-direction: column;
  }
  .visa {
    width: 328px;
    background-color: blueviolet;
    margin: 10px;
    height: 155px;
  }
  .prog {
    width: 328px;
    background-color: blueviolet;
    margin: 10px;
    height: 183px;
    font-size: 16px;
  }
  .prog h1 {
    margin: 0;
  }
  .age {
    width: 328px;
    background-color: blueviolet;
    margin: 10px;
    height: 183px;
    padding-left: 20px;
    color: white;
  }
  .visa h1,
  .prog h1,
  .age h1 {
    font-size: 40px;
    font-weight: 800;
  }
}
.prog span {
  display: block;
}
.visa,
.image-1 {
  display: flex;
  justify-content: flex-end;
  transform: translateY(75px)
}
}
