.langu{
    padding-bottom: 5px;
    list-style-type: none;
}

.ru{
    background-color: black;
}

.madina{
    color: #3280B0;
     font-size:72px;
      margin-top: -10px
  }

  .text-1 {
    border-left: 3px solid #016096;
    margin: 10px;
    padding: 10px;
    color: black;
    height: 110px;
    width: 400px;
    left: 811px;
    top: 892px;
    border-radius: nullpx;
    font-family: Montserrat;
    font-weight: 800;
    font-style: Style normal;
    font-size: 20px;
    
    margin-bottom: 90px;

  }
  @media(max-width: 400px){
  .b-b-d{
   position: absolute;
   /* top: 480px; */
   top: 540px;
   left: 190px; 
  }
  }

  @media(max-width: 580px){
    .langu{
        padding-right: 35px;
    }
  }
  @media(max-width:560px){
    .topic1{
        font-size: 19px;
    }
    .topic{
    }
}

 

  @media(max-width: 450px){
    .st-2{
  transform: translateX(-22px);
    }
    .st-2-sec-1{
      font-size: 45px;
    }
    .st-2-scc-1-mad2{
      font-size: 40px;
      transform: translateY(-7px);
    }
  }
  @media(max-width: 360px){
    .b-b-d {
      position: absolute;
      /* top: 480px; */
      top: 481px;
      left: 180px;
  }
  }

  @media(max-width: 320px){
    .langu{
        padding:0 ;
    }
    .b-b-d {
      position: absolute;
      /* top: 480px; */
      top: 481px;
      left: 150px;
    }
    .b-b{
      width: 95px;
      height: 47px;
    }
  }
  @media(max-width: 288px){
    .ru{
        width: 10px;
        font-size: 5px;
    }
  }