@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;800&display=swap");
body{
    font-family: "Montserrat", sans-serif;
    color: #fff;
}
.span{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 700; 
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    max-width: 143px;

    transform: translateX(70%);
}

.container .img {
    transform: translateY(-16%);
}
.link{
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
}
.nnn{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;

    width: 20px;
}
.btn-blue{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    background-color: #1e82d9;
    color: #fff;
    border-radius:10px 10px 10px 10px;
    border-bottom: 5px solid #fff;
    cursor: pointer;
    transition: 1s;
    display: none;
    margin: 0 auto;
}
.head{
    padding: 120px;
}
.topic{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: 61px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #fff;
}
.topic1{
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: -0.01em;
    text-align: left;
    color: #fff;
    border-left: 5px solid #fff;
    padding-left: 20px;
}
.border-left{
    border-left: 5 solid #fff;
}

.link:hover{
    color: #016096;
}

@media(max-width: 900px){
    .topic{
        font-size: 30px;
        transition: 1s;
    }
    .topic1{
        font-size: 25px;
        transition: 1s;
    }
  }
  
  /* @media(max-width: 985px){
   .span{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    /* max-width: 155px; */
   /* transform: translateX(14%);
   }
} */

@media(max-width: 1000px){
    .btn-blue{
        width: 250px;
        height: 55px;
        display: block;
        padding-top: 15px;
    }
    .btn-blue-div{
        position: relative;
        bottom: -90px;
    }
}
@media(max-width:835px){
    .btn-blue-div{
    };
    .btn-blue{
        width: 200px;
    }
}
@media(max-width: 740px){
    .btn-blue{
        transform: translateX(-25%);
    }
}
@media(max-width: 650px){
    .btn-blue{
        transform: translateX(-50%);
    }
  }
@media(max-width: 640px){
    .head{
        padding: 30px;
    }
  }

 

  @media(max-width: 550px){
  .container .img {
       position: absolute;
       left: 177px;
       transform:translateY(-80%)
   }
   .span{
       position: absolute;
       left: 77px;
       top: 80px;
   }
   .btn-blue{
    position: absolute;
    top: 500px;
    left: 140px;
   }
   .border-left{
    position: absolute;
    top: 280px;
   }
   .h12{
    position: absolute;
    top: 200px;
    left: 170px;
   }
   .h11{
    position: absolute;
    left: 80px;
    top: 150px;
   }
   .navvv{
    height: 130px;
   }
}
@media(max-width: 540px){
  
}
@media(max-width: 550px){
    .navv{
        display: none;
    }
}
@media(max-width: 450px){
    .navv{
        display: none;
    }
    .topic{
        font-size: 20px;
    }
    .topic1{
        font-size: 10px;
    }
    .btn-blue{
        width: 80px;
        font-size: 10px;
    }
}
@media(max-width: 470px){
    /* .img{
        position: initial;
    }
    .span{
        position: initial;
        transform: translateX(10%);
    } */

}

@media(max-width: 250px){
    .topic{
        font-size: 8px;
    }
    .topic1{
        font-size: 4px;
    }
    .img{
        position: initial;
    }
    .span{
        position: initial;
        transform: translateX(10%);
    }
}
