@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;800&display=swap");
body{
    font-family: "Montserrat", sans-serif;
    color: #fff;
}
.span{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 700; 
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    max-width: 143px;

    transform: translateX(70%);
}
.end-img-head{
    display: none;
}

.container .img {
    transform: translateY(-16%);
}
.link{
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
}
.nnn{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;

    width: 20px;
}
.btn-blue{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    background-color: #1e82d9;
    color: #fff;
    border-radius:10px 10px 10px 10px;
    border-bottom: 5px solid #fff;
    cursor: pointer;
    transition: 1s;
    display: none;
    margin: 0 auto;
}
.head{
    padding: 120px;
}
.topic{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: 61px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #fff;
}
.topic1{
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: -0.01em;
    text-align: left;
    color: #fff;
    border-left: 5px solid #fff;
    padding-left: 20px;
}
.link:hover{
    color: #016096;
}

@media(max-width: 900px){
    .topic{
        font-size: 40px;
        transition: 1s;
    }
    .topic1{
        font-size: 30px;
        transition: 1s;
    }
  }
  
  /* @media(max-width: 985px){
   .span{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    /* max-width: 155px; */
   /* transform: translateX(14%);
   }
} */

@media(max-width: 1000px){
    .btn-blue{
        width: 250px;
        height: 55px;
        display: block;
        padding-top: 15px;
    }
    .btn-blue-div{
        position: relative;
        bottom: -90px;
    }
}
@media(max-width:835px){
    .btn-blue-div{
    };
    .btn-blue{
        width: 200px;
    }
}
@media(max-width: 740px){
    .btn-blue{
        transform: translateX(-25%);
    }
}
@media(max-width: 650px){
    .btn-blue{
        transform: translateX(-50%);
    }
  }
@media(max-width: 640px){
    .head{
        padding: 30px;
    }
    .topic1{
        font-size: 25px;
    }
  }

 @media(max-width:560px){
     .topic1{
         font-size: 21px;
     }
     .topic{
         font-size: 30px;
     }
 }

  @media(max-width: 550px){
  .container .img {
       position: absolute;
       left: 177px;
       transform:translateY(-80%)
   }
   .span{
       position: absolute;
       left: 77px;
       top: 80px;
   }
   /* .btn-blue{
    position: absolute;
    top: 500px;
    left: 140px;
   } */
  
   .h12{
    position: absolute;
    top: 200px;
   }
   .h11{
    position: absolute;
    top: 150px;
   }
   .navvv{
    height: 130px;
   }
   .navv{
    display: none;
}
}
@media(max-width: 500px){
  .h11{
      position: absolute;
      left: 140px;
      font-size: 40px;
  }
  .h12{
      position: absolute;
      left: 140px;
      top: 270px;
  }
  .border-left-head{
      position: absolute;
  }
  .topic1{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: center;
    border-left: none;
    padding-left: 20px;
}
.btn-blue-div{
    position: absolute;
    left: 240px;
    top: 530px;
}
.end-img-head{
    display: block;
    position: absolute;
    left: 240px;
    top: 630px;   
}
}
@media(max-width: 450px){
    .navv{
        display: none;
    }
    .btn-blue{
        width: 150px;
        font-size: 10px;
    }
    .h11{
        position: absolute;
        left: 105px;
        font-size: 40px;
    }
    .h12{
        position: absolute;
        left: 130px;
        top: 270px;
    }
    .border-left-head{
        position: absolute;
    }
    .topic1{
      font-family: 'Montserrat', sans-serif;
      font-size: 20px;
      text-align: center;
      border-left: none;
      padding-left: 20px;
  }
  .btn-blue-div{
      position: absolute;
      left: 220px;
      top: 530px;
  }
  .end-img-head{
      display: block;
      position: absolute;
      left: 210px;
      top: 630px;   
  }
  .container .img {
    position: absolute;
    left: 150px;
}
.span{
    position: absolute;
    left: 50px;
    top: 80px;
}
}
@media(max-width: 420px){
    .navv{
        display: none;
    }
    .btn-blue{
        width: 150px;
        font-size: 10px;
    }
    .h11{
        position: absolute;
        left: 90px;
        font-size: 40px;
    }
    .h12{
        position: absolute;
        left: 120px;
        top: 270px;
    }
    .border-left-head{
        position: absolute;
    }
    .topic1{
     position: relative;
     left: -30px;

  }
  .btn-blue-div{
      position: absolute;
      left: 200px;
      top: 600px;
  }
  .end-img-head{
      display: block;
      position: absolute;
      left: 190px;
      top: 680px;   
}
.container .img {
    position: absolute;
    left: 120px;
}
.span{
    position: absolute;
    left: 20px;
    top: 80px;
}
}
@media(max-width: 470px){
    /* .img{
        position: initial;
    }
    .span{
        position: initial;
        transform: translateX(10%);
    } */

}
@media(max-width: 360px){
        .btn-blue{
            width: 130px;
            font-size: 10px;
        }
        .h11{
            position: absolute;
            left: 60px;
            font-size: 40px;
        }
        .h12{
            position: absolute;
            left: 90px;
            top: 270px;
        }
        .border-left-head{
            position: absolute;
        }
        .topic1{
         position: relative;
         left: -30px;
    
      }
      .btn-blue-div{
          position: absolute;
          left: 170px;
          top: 600px;
      }
      .end-img-head{
          display: block;
          position: absolute;
          left: 160px;
          top: 680px;   
    }
    .container .img {
        position: absolute;
        left: 100px;
    }
    .span{
        position: absolute;
        left: -5px;
        top: 80px;
    }
}

@media(max-width: 340px){
    .btn-blue{
        width: 130px;
        font-size: 10px;
    }
    .h11{
        position: absolute;
        left: 60px;
        font-size: 40px;
    }
    .h12{
        position: absolute;
        left: 90px;
        top: 270px;
    }
    .border-left-head{
        position: absolute;
    }
    .topic1{
     position: relative;
     left: -30px;
     font-size: 15px;

  }
  .btn-blue-div{
      position: absolute;
      left: 170px;
      top: 600px;
  }
  .end-img-head{
      display: block;
      position: absolute;
      left: 160px;
      top: 680px;   
}
.container .img {
    position: absolute;
    left: 100px;
}
.span{
    position: absolute;
    left: -5px;
    top: 80px;
}
}
@media(max-width: 300px){
    .container .img {
        position: absolute;
        left: 70px;
    }
    .span{
        position: absolute;
        left: -30px;
        top: 80px;
    }
    .h11{
        position: absolute;
        left: 60px;
        font-size: 30px;
    }
    .h12{
        position: absolute;
        left: 60px;
        top: 270px;
        font-size: 30px;
    }
    .btn-blue-div{
        display: none;
    }
    .end-img-head{
        display: block;
        position: absolute;
        left: 140px;
        top: 680px;   
  }
}

@media(max-width: 250px){
    .topic{
        font-size: 25px;
    }
    .topic1{
        font-size: 10px;
    }
    .img{
        position: initial;
    }
    .span{
        position: initial;
        transform: translateX(10%);
    }
}

@media(max-width: 219px){
    .topic{
        font-size: 15px;
    }
    .topic1{
        font-size: 10px;
    }
    .img{
        width: 90px;
    }
    .span{
        position: absolute;
        left: 30px;
        top: 80px;
        font-size: 10px;
    }
    .end-img-head{
        display: block;
        position: absolute;
        left: 100px;
        top: 680px;   
  }
}

@media(max-width: 170px){
    .container .img {
        position: absolute;
        left: 40px;
    }
    .span{
        position: absolute;
        left: 10px;
        top: 80px;
        font-size: 10px;
    }
    .end-img-head{
        display: block;
        position: absolute;
        left: 75px;
        top: 680px;   
  }
  .h11{
    position: absolute;
    left: 40px;
}
.h12{
    position: absolute;
    left: 40px;
    top: 270px;
}
.topic1{
 position: relative;
 left: -30px;

}
}

@media(max-width: 145px){
    .container .img {
        position: absolute;
        left: 40px;
        width: 50px;
    }
    .span{
        display: none;
    }
    .end-img-head{
        display: none;  
  }
  .h11{
    position: absolute;
    left: 20px;
}
.h12{
    position: absolute;
    left: 20px;
    top: 270px;
}
.topic1{
 position: relative;
 left: -30px;

}
}
@media(max-width: 145px){
    .img {
       display: none; 
    }
    .h11{
        font-size: 10px;
    }
    .h12{
        font-size: 5px;
    }
}

@media(max-width: 120px){
    .h11{
        font-size: 6px;
    }
    .h12{
        font-size: 3px;
    }
}